body {
	margin: 0;
	padding: 0;
}
h1{
	margin: 0 40px 32px 40px;
	padding-bottom: 16px;
	font-size: 40px;
	line-height: 1.2;
	border-bottom: solid 1px #ccc;
}

#headlineContainer h1 {
	font-size: 72px;
	text-align: center;
	line-height: 0.8;
	width: 50%;
	margin:  100px auto;
}

.displayImage {
	width: 100%;
	margin-bottom: 32px;
}


.svgHolder {
	top: 0;
	left: 0;
	position:fixed;
	width: 200px;
	background-color: rgba(0, 0, 0, 0.05);
	margin: 0;
	padding: 0;
	background: none ;
	transition: all 1s ease-in-out 0s;
}
.svgHolderStartPosition {
	position: relative;
	width: 100%;
	height: 80vh;
	background: lightgrey;
}

svg {
	position: absolute;
	//height:100%;
	//width:100%;
	overflow: visible;
	margin: 0;
	padding: 0;
}
.st0 {
	fill: none;
}

article {
	display: block;
	margin-left: 200px;
	padding-top: 80vh;
}
section {
	margin: 0 auto;
	margin-top: 200px;
	width: 100%;
	max-width: 700px;
	//padding-left: 50px ;
	//padding-top: 100px;
	overflow: auto;
}

p {
	font-size: 24px;
	line-height: 32px;
	margin: 16px 40px;
}
#labelContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
}

#labelContainer a h4 {
	color: lightgrey;
	margin: 0;
	padding: 0;
}
#labelContainer a {
	position: absolute;
	margin-top: 8px;
	width:  100%;
	text-align: right;
}

a,
a:visited,
a:active {
	text-decoration: none;
}

g.all {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: orangered;
}

.svgHolderStartPosition #labelContainer a,
.svgHolderStartPosition #labelContainer a h4 {
	text-align: center;
	color: #000;
}

